In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import module
import numpy as np
pd.set_option('display.max_columns', None) # to show all columns

In [127]:
data_path = "data/"
plays_df = pd.read_csv(os.path.join(data_path, 'plays.csv'))

teams_list = module.get_all_home_teams(data_path)

off_epa = {team:module.get_offensive_epa_run(plays_df, team) for team in teams_list}

pd.DataFrame.from_dict(off_epa, orient='index', columns=['epa_all', 'epa_des_run', 'epa_scramble'])

      epa_all  epa_des_run  epa_scramble
LA   0.280399    -0.216867      0.517471
ATL  0.268829     0.008459      0.176692
CAR  0.228833    -0.012559     -0.033178
CHI  0.254639     0.008100      0.879789
CIN  0.390620    -0.026956      0.830081
DET  0.339476    -0.036244     -0.329700
HOU  0.210331    -0.083681     -0.032020
MIA  0.385581    -0.104763      0.322373
NYJ  0.340081    -0.053112      0.785890
WAS  0.239107    -0.137036      0.146594
ARI  0.260487    -0.049714      0.422065
LAC  0.303648    -0.111497      0.556367
MIN  0.333073    -0.045860      0.728739
TEN  0.196719    -0.071948     -0.004402
DAL  0.269498     0.001693     -0.352307
SEA  0.293688     0.028327      0.516066
KC   0.518523    -0.059966      0.754680
BAL  0.316704     0.070380      0.473635
CLE  0.318000     0.079790      0.276891
JAX  0.310017    -0.042712      0.667451
NO   0.321111    -0.032649     -0.091176
NYG  0.273365    -0.033415      0.538136
PIT  0.207966    -0.036242     -0.155474
SF   0.313379    -0.104377     -0.135136
DEN  0.179166    -0.226729      0.113559
LV   0.357345    -0.007564      0.681473
GB   0.265774     0.000054      1.596898
BUF  0.483463    -0.093809      1.144893
PHI  0.368228     0.049067      0.628861
IND  0.178927    -0.238907     -0.210524
NE   0.267581    -0.028181      0.468945
TB   0.225455    -0.280774     -1.100011